# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.bak

# Logos
ihp_logo.png
ihp_logo2.png
